<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='buttons.js') }}"></script>

    <title>Video feed</title>
</head>
<body>
    <h1>
        Video feed
    </h1>

    <img id="feed" src="{{ url_for('video_feed') }}" alt="video feed" />
    <br />

    <button id="leftBtn">Left</button>
    <button id="rightBtn">Right</button>
    <button id="forwardBtn">Forward</button>
    <button id="backwardBtn">Backward</button>
</body>
</html>
